body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.custom-button {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}
