<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video lectures</title>
        <!-- <link rel="stylesheet" href="lec.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
        <!-- BOX ICONS CSS-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="lec.css">
        <style>
            .card {
          box-shadow: 14px 14px 14px 0 rgba(235, 71, 71, 0.436);
          transition: 0.5s;
          /* width: calc(30.33% - 20px); */
          width: fit-content;
          height: fit-content;
          display:inline-flex /* Set to inline-block to display cards side by side */
          /* margin: 35%; Add margin to create space between the cards */
          /* border-radius: 3%; */
        }
        
        .card:hover {
          box-shadow: 0 16px 32px 0 rgba(69, 171, 74, 0.815);
          transform: scale(0.2s);
        }
        
        .container {
          padding: 2px 1px;
        }

        iframe{
            border-radius: 3%;
        }
            </style>
    </head>
  
    <body id="body">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                        <span class="nav__logo-text">E-learning </span>
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-chevron-right'></i>
                    </div>
    
                    <ul class="nav__list">
                        <a href="index.html" class="nav__link active">
                            <i class='bx bx-grid-alt nav__icon'></i>
                            <span class="nav__text">Courses</span>
                        </a>
                        
                        <a href="http://127.0.0.1:5000" class="nav__link">
                            <i class='bx bx-heart nav__icon'></i>
                            <span class="nav__text">ASK.ai</span>
                        </a>
                        <a href="disc.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Discussion Room</span>
                        </a>
                        <a href="Pass.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Password</span>
                        </a>
                                        
                    </ul>
                </div>
                <a href="#" class="nav__link">           
                    <i class='bx bx-log-out-circle nav__icon'></i>
                    <span class="nav__text">Sign Out</span>
                </a>
            </nav>
        </div>
    <div class="Python">
        <h1><b><center>Python language</center></b></h1>
        <div class="basics">
            <h3>Basics of Python</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/aqvDTCpNRek?si=lUUyXKWJAMBe6Ula" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/vrQlEhmVFDA?si=N0BBvdBl4GrxqVr4" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/0SZodbWUsQU?si=c_TF7oWsEglHt5KT" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/CDb9YzUq_VA?si=S0Xm8IaOU1ZV4OBa" controls ></iframe>
            </div>
        </div>
        <div class="loops">
            <h3>Loops and Conditionals</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/O3MA3Hn7c2E?si=WRbQhS0JmxbZErSo" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/sSyCRQx5WM0?si=6QqyV_3JH4fR9lBy" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/qvWuPZNOeGg?si=mGZ8SdAEMeODqMBo" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/A0hmk3wWTXI?si=iFnfB6oObKqTPEiT" controls ></iframe>
            </div>
            </div>
            <div class="functions">
                <h3>Functions</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/u-OmVr_fT4s?si=PQhNzBD4KB_ptfju" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/-Bkupx9gX0o?si=2FyyCN3dI78lkacZ" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/xTmBq-CQTVU?si=IXQECGcB8v-JP4RP" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/eezLhJ5oGYg?si=72iKPbewcewjW9IJ" controls ></iframe>
                </div>
            </div>
            <div class="File">
                <h3>File Handelling</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/ETvuSF-5qUo?si=ZpqzMJhGv2SvMrvC" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/uEtG9TclzKE?si=w29l-PoPqGSKOXNv" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Sx1Hjr67xO0?si=h5viGHcpvNI3bOpV" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/eezLhJ5oGYg?si=72iKPbewcewjW9IJ" controls ></iframe>
                </div>
            </div>
            <div class="Oops">
                <h3>Oops in Python</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/qiSCMNBIP2g?si=67aT-cNxS-cYsIwC" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Mf2RdpEiXjU?si=FVXc30pN9Y-0LGmM" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Uo6PpmDuBUU?si=Eu7AnJkhW4UiRtML" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Ic7ZBKqkS1E?si=opxTFxCAroqi4LQi" controls ></iframe>
                </div>
            </div>
            <div class="Reccursion">
                <h3>Reccursion in Python</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/UhCObChYSMc?si=3prsShrzwpQxvMMF" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/UhCObChYSMc?si=3prsShrzwpQxvMMF" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/_aYI_wi0MUQ?si=0nAsSSqDwiXbW6Fx" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/mcK9lEPomMI?si=kViV1pgxa3PaXlFS" controls ></iframe>
                </div>
            </div>
            <h1 class="Lib"><center><b>Some Important Libraries In Python</b></center></h1><hr>
            <div class="Libraries 1">
                <h3>Libraries 1 ...........</h3>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Rbh1rieb3zc?si=Vv_MR5VSJjExiBxz" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/Z1RJmh_OqeA?si=J9GgIbdoVuow4hkS" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/RhEjmHeDNoA?si=J7-RTtJZAuU4pw3S" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/rHux0gMZ3Eg?si=KHrDHQgPVpIgGJC9" controls ></iframe>
                </div>
            </div>
            <div class="Library 2 ">
                <h3>Libraries 2..........</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/0Lt9w-BxKFQ?si=zDj0OUqZ1YoFzE03" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/9GvnrQv138s?si=y1qZQegJd4sYzgsd" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/wxnTj-7yTt8?si=D1ahmoeDsJtCR8u_" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/c36lUUr864M?si=L3N-0nWK8UuOmsgV" controls ></iframe>
                </div>
            </div>

            <div class="miscellaneous">
                <h3>Miscellaneous Topics</h3><hr>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/QXeEoD0pB3E?si=BCmlxbNGgyZQhboj" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/OZIRAavoGng?si=Rwf9Zq00OvaB6YMv" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/MpEldU7Z_Wc?si=PIUzuXNCb8GwI1ny" controls ></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <iframe src="https://www.youtube.com/embed/4EaYeZyzIB0?si=MIOAsPzXfa85tp5M" controls ></iframe>
                </div>
            </div>
        </div>
</body> 
   <script src="assets/js/main.js"></script>

</html>