<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video lectures</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
        <!-- BOX ICONS CSS-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="lec.css">
    <style>
        .card {
          box-shadow: 14px 14px 14px 0 rgba(235, 71, 71, 0.436);
          transition: 0.5s;
          /* width: calc(30.33% - 20px); */
          width: fit-content;
          height: fit-content;
          display:inline-flex /* Set to inline-block to display cards side by side */
          /* margin: 35%; Add margin to create space between the cards */
          /* border-radius: 3%; */
        }
        
        .card:hover {
          box-shadow: 0 16px 32px 0 rgba(69, 171, 74, 0.815);
          transform: scale(0.2s);
        }
        
        .container {
          padding: 2px 1px;
        }

        iframe{
            border-radius: 3%;
        }        
    </style>
</head>

<body id="body">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                    <span class="nav__logo-text">E-learning </span>
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-chevron-right'></i>
                </div>

                <ul class="nav__list">
                    <a href="index.html" class="nav__link active">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__text">Courses</span>
                    </a>
                    
                    <a href="http://127.0.0.1:5000" class="nav__link">
                        <i class='bx bx-heart nav__icon'></i>
                        <span class="nav__text">ASK.ai</span>
                    </a>
                    <a href="disc.html" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__text">Discussion Room</span>
                    </a>
                    <a href="Pass.html" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__text">Password</span>
                    </a>
                                    
                </ul>
            </div>
            <a href="#" class="nav__link">           
                <i class='bx bx-log-out-circle nav__icon'></i>
                <span class="nav__text">Sign Out</span>
            </a>
        </nav>
    </div>
    <div class="Dsa">
        <h1><b><center>DSA Resources</center></b></h1>
        <div class="Alldsa">
        <h3 id="h3"><b></b>Complete DSA</b></h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/WQoB2z67hvY?si=0mcLF7Q0VqyhDBZf" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/t6zLJOCVqD0?si=KQUEkksnn2VyCD4v" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/WR31ByTzAVQ?si=8Qdk4zfRo43-qcRA" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/dr-pLeJBr38?si=9ZhXziq1O_L-SClK" controls ></iframe>
        </div>
    </div>

    <div class="Reccursion">
        <h3>Recursion</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/_-2u4EPHD88?si=oRuURts6uKEFZfbI" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/zg8Y1oE4qYQ?si=CMS3zugIInpHKtRq" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/UntSI7G5h20?si=z7dpRKWJIPjolxfQ" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/WyY2Af3k1xI?si=7Gaso2vvOyWEojCy" controls ></iframe>
        </div>
        </div>

    <div class="Linkedlist">
        <h3>Linked List</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/q8gdBn9RPeI?si=-H90VHGWqlDXoJrY" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/vqS1nVQdCJM?si=n08tez0GlqZSYkqJ" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/fi2vh0nQLi0?si=l5-lzpaZLkPJGSwx" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/VxOFflTXlXo?si=lvYHAlt2UddvY5tR" controls ></iframe>
            </div>
        </div>
    </div>
    <div class="Stacks">
        <h3>Stacks And Queues</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/_6COl6V6mng?si=DJk3lLlsh8HRZ6DB" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/BmZnJehDzyU?si=QwrhCBuVoS7LdJKn" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/lJLcqDsmYfg?si=zG9mpJCN-ISyVWwl" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/9u2BJfmWNEg?si=5TMTKPY2n0--anii" controls ></iframe>
            </div>
        </div>
    </div>
    <div class="Trees">
        <h3>Trees</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/5NiXlPrLslg?si=kKhkVRqHbyeWo1eO" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/nHMQ33LZ6oA?si=E9G_ALxH_K1is-m2" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/s1d8UGDCCN8?si=4MGjUd4qxlsTM-RB" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/QG0hE0R_ng4?si=5FV4ekMuw1h2RhLY" controls ></iframe>
            </div>
        </div>
    </div>
    <div class="Graphs">
        <h3>Graphs</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/EaK6aslcC5g?si=QezdPvi1vqFCJnHW" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/b5kij1Akf9I?si=LFkOT69yRl1xo7iv" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/aJa3U-hydXc?si=Ak7niVv1S0xTRVYF" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/1cSzxlhxOw8?si=EPqQLJRuDv6K74Ps" controls ></iframe>
            </div>
        </div>
    </div>
</div>
</body>
<script src="assets/js/main.js"></script>
</html>