<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video lectures</title>
    <link rel="stylesheet" href="lec.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- BOX ICONS CSS-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .card {
          box-shadow: 14px 14px 14px 0 rgba(235, 71, 71, 0.436);
          transition: 0.5s;
          /* width: calc(30.33% - 20px); */
          width: fit-content;
          height: fit-content;
          display:inline-flex /* Set to inline-block to display cards side by side */
          /* margin: 35%; Add margin to create space between the cards */
          /* border-radius: 3%; */
        }
        
        .card:hover {
          box-shadow: 0 16px 32px 0 rgba(69, 171, 74, 0.815);
          transform: scale(0.2s);
        }
        
        .container {
          padding: 2px 1px;
        }

        iframe{
            border-radius: 3%;
        }        
    </style>
    </head>

<body id="body">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                    <span class="nav__logo-text">E-learning </span>
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-chevron-right'></i>
                </div>

                <ul class="nav__list">
                    <a href="index.html" class="nav__link active">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__text">Courses</span>
                    </a>
                    
                    <a href="http://127.0.0.1:5000" class="nav__link">
                        <i class='bx bx-heart nav__icon'></i>
                        <span class="nav__text">ASK.ai</span>
                    </a>
                    <a href="disc.html" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__text">Discussion Room</span>
                    </a>
                    <a href="Pass.html" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__text">Password</span>
                    </a>
                                    
                </ul>
            </div>
            <a href="#" class="nav__link">           
                <i class='bx bx-log-out-circle nav__icon'></i>
                <span class="nav__text">Sign Out</span>
            </a>
        </nav>
    </div>
    <div class="Clang">
        <h1><b><center>C language</center></b></h1>
        <div class="Basics">
            <h3>Basics of C</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/EjavYOFoJJ0?si=2hBzo2Ow9XYws8nh" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/E6jtj-7xJoA?si=NTuWHIkYc3izSLhv" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/_FOkG5D4NBo?si=LparaePAbAj92G-G" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/dhh5lrXXXYw?si=r7hReakwe0FVZp6o" controls ></iframe>
            </div>
        </div>
        <div class="loops">
            <h3>Loops and Functions</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/A_IgufxmIHk?si=rMPCDxpWkWcBoKNG" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/S2z0OTZoziI?si=qwpCmYOnBLHJDWk_" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/0KzWpgMLDmk?si=vdHuGBtuIhZip1gd" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/yeH9DZlpbmM?si=EeDShhn3HAGVlu7n" controls ></iframe>
                </div>
            </div>

        <div class="functions">
            <h3>Functions and pointers</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/3lqgdqoY83o?si=fz39bcyPtxT9samb" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/5wAf9nzX2R8?si=45N-mHW9ZhYrvjun" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/HEiPxjVR8CU?si=W4Wr22ACZXw_J9SU" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/mwmvfNVhIA4?si=NdLF4I0MefV7Kpb1" controls ></iframe>
                </div>
            </div>
        </div>
        <div class="pointers">
            <h3>Pointers</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/IBjGjDbwxSg?si=s9LAZg4g5FHfT72K" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/xlt_bEqfnxg?si=dZXDBJ-H4VFVlkMm" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/zuegQmMdy8M?si=8qk5SboNeSmzs0wL" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/MIL2BK02X8A?si=3c4uqQeoUuW7Lhd1" controls ></iframe>
                </div>
            </div>
        </div>
        <div class="file">
            <h3>File Handelling</h3> <hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/UxifZwjd5xU?si=ZayNbpCLkkmyUJC9" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/wVDfRzBp8iE?si=7utx5ObNm_p7uzlp" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/2pkHR6TreMo?si=v6_balVfT45ZY0BY" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/-zcs6xcGDng?si=6bhWt7W1l0iXlHc_" controls ></iframe>
                </div>
        </div>
        <div class="miscellaneous">
            <h3>Miscellaneous</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/EjavYOFoJJ0?si=Ti4G_l1ATKIW25_A" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/si-KFFOW2gw?si=c4MlP-DuPoSMlpHR" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/rLf3jnHxSmU?si=yq_oHpwTJxZN5ImF" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/-LUY_xSoj0M?si=ia9Zay01y3Sc5AhH" controls ></iframe>
                </div>
        </div>
</body>
<script src="assets/js/main.js"></script>
</html>