<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video lectures</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
            <!-- BOX ICONS CSS-->
            <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="lec.css">
        <style>
            .card {
              box-shadow: 14px 14px 14px 0 rgba(235, 71, 71, 0.436);
              transition: 0.5s;
              /* width: calc(30.33% - 20px); */
              width: fit-content;
              height: fit-content;
              display:inline-flex /* Set to inline-block to display cards side by side */
              /* margin: 35%; Add margin to create space between the cards */
              /* border-radius: 3%; */
            }
            
            .card:hover {
              box-shadow: 0 16px 32px 0 rgba(69, 171, 74, 0.815);
              transform: scale(0.2s);
            }
            
            .container {
              padding: 2px 1px;
            }
    
            iframe{
                border-radius: 3%;
            }        
        </style>
    </head>
    <body id="body">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                        <span class="nav__logo-text">E-learning </span>
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-chevron-right'></i>
                    </div>
    
                    <ul class="nav__list">
                        <a href="index.html" class="nav__link active">
                            <i class='bx bx-grid-alt nav__icon'></i>
                            <span class="nav__text">Courses</span>
                        </a>
                        
                        <a href="http://127.0.0.1:5000" class="nav__link">
                            <i class='bx bx-heart nav__icon'></i>
                            <span class="nav__text">ASK.ai</span>
                        </a>
                        <a href="disc.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Discussion Room</span>
                        </a>
                        <a href="Pass.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Password</span>
                        </a>
                                        
                    </ul>
                </div>
                <a href="#" class="nav__link">           
                    <i class='bx bx-log-out-circle nav__icon'></i>
                    <span class="nav__text">Sign Out</span>
                </a>
            </nav>
        </div>

    <div class="Cpp">
        <h1><b><center>Cpp Resources</center></b></h1>
        <div class="basics">
        <h3>Basics of c++</h3><hr>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/j8nAHeVKL08?si=zUwIbiSBF0DDYt6f" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/oW2r0r_i5Ps?si=V7CySbgdkkAM0-xB" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/jigb6W35zHc?si=t5DWSkIrrXIAwKre" controls ></iframe>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/JrnQ-915czY?si=qan8r8ziWet_10n_" controls ></iframe>
        </div>
        </div>
        <div class="loops">
            <h3>Loops and Functions</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/a7dfSBrTZtE?si=oInrY0Jzi83vQG-3" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/DJh5NfK7h-U?si=Lbs1YcEz5yfx1GEs" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/AY96XFqb934?si=_3BJjSU6G2TpkpuT" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/oVvvwEx-gBw?si=yHwrs5P_HQkIe5EU" controls ></iframe>
            </div>
        </div>
        <div class="Arrays">
            <h3>Arrays and Strings</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/aKnc1A5NOKo?si=wwpsoL38kaZ9bRkx" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/PyTK_g1l8V8?si=xgXQ6mKvWC6JWY3Q" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/13ocRMSJy5M?si=pMac-gtguOw_1VAZ" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/b3GccK5_KSQ?si=4GVjplCIow_1KI4P" controls ></iframe>
            </div>
        </div>
        <div class="Oops">
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/nGJTWaaFdjc?si=mbHj2bsg60cDzBRn" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/tL8vnfFFzVQ?si=kSatK8_YQPWoJlNp" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/13ocRMSJy5M?si=pMac-gtguOw_1VAZ" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/qq05D2yFIHA?si=inT4d0Sd8GgH1_KX" controls ></iframe>
            </div>
        </div>
        <div class="oneshot">
            <h3>One shot videos</h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/FydQ2VDUTZk?si=RCKeE-cIgWNNTV9t" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/he_5GXDz83g?si=bftyws85u9Jr8oVc" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/yGB9jhsEsr8?si=JdG1HJGj6f9eryd4" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/vLnPwxZdW4Y?si=ttVhug6z8TL8u0zE" controls ></iframe>
            </div> 
        </div>
        <div class="miscellaneous">
            <h3>miscellaneous concepts </h3><hr>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/6bh2IdSEv-0?si=eQkB7CzBb4_jEXfG" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/z9bZufPHFLU?si=Mmno7dn0UF6dWhd9" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/s0g4ty29Xgg?si=uQG-o6T_wdNUpUCu" controls ></iframe>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <iframe src="https://www.youtube.com/embed/18c3MTX0PK0?si=ZZHWB1ZvlVxoGiGd" controls ></iframe>
            </div>
    </div>
</div>
    
</body>
<script src="assets/js/main.js"></script>
</html>