<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- STYLES CSS -->
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
        <!-- BOX ICONS CSS-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <title>Sidebar menu</title>
        <link rel="stylesheet" type="text/css" href="npop.css">
        <link rel="stylesheet" href="home.css">

    </head>
    <body id="body">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <a href="home.html" class="nav__logo">
                        <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                        <span class="nav__logo-text">E-learning </span>
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-chevron-right'></i>
                    </div>
    
                    <ul class="nav__list">
                        <a href="index.html" class="nav__link active">
                            <i class='bx bx-grid-alt nav__icon'></i>
                            <span class="nav__text">Courses</span>
                        </a>
                        
                        <a href="http://127.0.0.1:5000" class="nav__link">
                            <i class='bx bx-heart nav__icon'></i>
                            <span class="nav__text">ASK.ai</span>
                        </a>
                        <a href="disc.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Discussion Room</span>
                        </a>
                        <a href="Pass.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Password</span>
                        </a>
                                        
                    </ul>
                </div>
                <a href="Login_page.html" class="nav__link">           
                    <i class='bx bx-log-out-circle nav__icon'></i>
                    <span class="nav__text">Sign Out</span>
                </a>
            </nav>
        </div>

       <div class="login-popup">
        <div class="box">
            <div class="img-area">
                <div class="img">
                    <img src="book.jpg" alt="" width="100%" height="100%">
                </div>
            </div>
            <div class="form">
                <div class="close">&times;</div>
                <h1>Log In</h1>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox"> Remember Me</label>
                    </div>
                    <button type="button" class="btn">Log In</button>
                </form>
            </div>
        </div>
    </div>
    

        <div><br></div>
        <div class="main-content">
            <section id="section1" >
                
                <div class="card">
                    <div class="card-image">
                        <img src="photo\111.png" alt="Profile image">
                    </div>
                    <p class="name">Data Structure & Algorithm</p>         
                    <div class="socials">
                        <button><a href="index1.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizd.html"><img src="quize.png" height ="40px" width="30px"></a></button>
                        <button><a href="https://apps.google.com/meet/" target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>  
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-image">
                        <img src="photo\22.png" alt="Profile image">
                    </div>
                    <p class="name">Python</p><br>
                    <div class="socials">
                        <button><a href="index4.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizp.html"><img src="quize.png" height ="40px" width="30px"></a></button>
                        <button><a href="https://apps.google.com/meet/" target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>
                        
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-image">
                        <img src="photo\3.png"alt="Profile image">
                    </div>
                    <p class="name">C++</p><br>
                    <div class="socials">
                        <button><a href="index2.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizcpp.html"><img src="quize.png" height ="40px" width="30px"><a href="quizp.html"></a></button>
                        <button><a href="https://apps.google.com/meet/"  target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>   
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-image">
                        <img src="photo\4.png" alt="Profile image">
                    </div>
                    <p class="name">C Language</p><br>
                    <div class="socials">
                        <button><a href="index3.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizc.html"><img src="quize.png" height ="40px" width="30px"></a></button>
                        <button><a href="https://apps.google.com/meet/"  target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="card-image">
                        <img src="photo\5.png" alt="Profile image">
                    </div>
                    <p class="name">HTML</p><br>
                    <div class="socials">
                        <button><a href="index5.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizw.html"><img src="quize.png" height ="40px" width="30px"></a></button>
                        <button><a href="https://apps.google.com/meet/"  target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="photo\6.png" alt="Profile image">
                    </div>
                    <p class="name">Java Script</p><br>                    
                    <div class="socials">
                        <button><a href="index6.html"><img src="yout.png" height ="40px" width="30px"></a></button>
                        <button><a href="quizj.html"><img src="quize.png" height ="40px" width="30px"></a></button>
                        <button><a href="https://apps.google.com/meet/"  target="_blank"><img src="google.png" height ="40px" width="30px"></a></button>
                        
                    </div>
                </div>
            
            </section>
        </div>
    </body>
    <!-- MAIN JS -->
    <script src="assets/js/main.js"></script>
    <script src="home.js"></script>

</html>