<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video lectures</title>
        <link rel="stylesheet" href="lec.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
        <!-- BOX ICONS CSS-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <style>
            .card {
              box-shadow: 14px 14px 14px 0 rgba(235, 71, 71, 0.436);
              transition: 0.5s;
              /* width: calc(30.33% - 20px); */
              width: fit-content;
              height: fit-content;
              display:inline-flex /* Set to inline-block to display cards side by side */
              /* margin: 35%; Add margin to create space between the cards */
              /* border-radius: 3%; */
            }
            
            .card:hover {
              box-shadow: 0 16px 32px 0 rgba(69, 171, 74, 0.815);
              transform: scale(0.2s);
            }
            
            .container {
              padding: 2px 1px;
            }
    
            iframe{
                border-radius: 3%;
            }        
        </style>
    </head>
    <body id="body">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <img src="assets/icons/logo.svg" alt="" class="nav__logo-icon">
                        <span class="nav__logo-text">E-learning </span>
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-chevron-right'></i>
                    </div>
    
                    <ul class="nav__list">
                        <a href="index.html" class="nav__link active">
                            <i class='bx bx-grid-alt nav__icon'></i>
                            <span class="nav__text">Courses</span>
                        </a>
                        
                        <a href="http://127.0.0.1:5000" class="nav__link">
                            <i class='bx bx-heart nav__icon'></i>
                            <span class="nav__text">ASK.ai</span>
                        </a>
                        <a href="disc.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Discussion Room</span>
                        </a>
                        <a href="Pass.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__text">Password</span>
                        </a>
                                        
                    </ul>
                </div>
                <a href="#" class="nav__link">           
                    <i class='bx bx-log-out-circle nav__icon'></i>
                    <span class="nav__text">Sign Out</span>
                </a>
            </nav>
        </div>
    <div class="Javascript">
        <h1><center>Javascript</center></h1>
        <span>
            <iframe  src="https://www.youtube.com/embed/PlbupGCBV6w?si=yPwHu_lo0DSPahhl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/j8fubBAFq_I?si=G1LhNO4VxO7-zUF7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/W6NZfCO5SIk?si=_MvDPmyknGRevpsR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/Kdz9J5vC4_o?si=Y_CdRZ3uKXFn1dhW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/hKB-YGF14SY?si=uGRFofWIWLvMDBER" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe  src="https://www.youtube.com/embed/htznIeWKgg8?si=dORIIPGKEr6Qc5ZK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/ER9SspLe4Hg?si=BkVF8UIMhZogu4K2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <span>
            <iframe src="https://www.youtube.com/embed/PMsVM7rjupU?si=alJp4ZD_JRaD1JFr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span>
        <div class="Frameworks">
            <h2><b><center>FrameWorks in Javascripts</center></b></h2>
            <div class="nodejs">
            <span>
                <iframe src="https://www.youtube.com/embed/BLl32FvcdVM?si=Xd7jvxl1Nng6hBDO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe  src="https://www.youtube.com/embed/TlB_eWDSMt4?si=A5cDDhr9-4sWMon3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe src="https://www.youtube.com/embed/IIpiLZGTWuo?si=LxYuLkblUQhQjC1D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe src="https://www.youtube.com/embed/zaLfOjNEOaQ?si=8Ixa7oq2RZ9N1Chi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            </div>
            <div class="Expressjs">
            <span>
                <iframe src="https://www.youtube.com/embed/pKJ4GGyDgJo?si=3OzuZhlvG21Afs8j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe src="https://www.youtube.com/embed/7H_QH9nipNs?si=IC-TiQDwnjXUzKo-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe src="https://www.youtube.com/embed/teipbke8c4A?si=D8Vsty55dq1ksv7d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            <span>
                <iframe src="https://www.youtube.com/embed/SccSCuHhOw0?si=ogjqzDqhzpM0kntw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </span>
            </div>
        </div>
    </div>
</body>
<script src="assets/js/main.js"></script>

</html>